{% extends 'base.html.twig' %}

{% block title %}S'enregistrer - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username, {
        label: 'Pseudo'
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Mot de passe'
    }) }}

    <button type="submit" class="btn">Valider l'inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
